* {
  font-family: sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}
a { color: black; }

.logo-e { font-weight: 700; }

.main-page section { color: white; }
.info-page section { color: black; }

h1 {
  font-size: 70px;
  margin-bottom: 10px;
}

h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 25px;
}



#header {
  background-color: white;
  
  font-size: 20px;
  text-align: left;
  
  position: fixed;
  left: 0;
  right: 0;
  height: 43px;
  padding: 0;
  
  z-index: 1;
}

#title {
  float: left;
  padding: 10px;
  margin-left: 10px;
}
#navigation {
  float: right;
  height: 40px;
  margin: 10px 10px 0px 0px;
}
#navigation a {
  color: black;
  text-decoration: none;
  padding: 10px;
}
#navigation a:hover {
  background-color: #EEEEEE;
}


#intro          { color: black; background-color: #F8F8F8; }
#easy           { background-color: #65A683; }
#flexible       { background-color: #218777; }
#intuitive      { background-color: #3F585F; }
#conversational { background-color: #47384D; }
#stay-informed  { background-color: #DD3357; }
#sneak-peak     { color: black; background-color: #F8F8F8; height: auto; }


.content-section {
  color: white;
  padding: 100px 50px 50px 50px;
  height: 600px;
  text-align: center;
}
.content { margin-top: 60px;}

.code-sample {
  font-family: monospace;
  font-size: 17px;
  text-align: left;
  
  color: #444444;
  
  margin: 50px 0 0 -275px;
  width: 550px;
  position: relative;
  left: 50%;
}
.code-comment {
  font-family: inherit;
  color: #AAAAAA;
}
.code-keyword {
  font-family: inherit;
  color: #3FA8AF;
}
.code-string {
  font-family: inherit;
  color: #DD3357;
}

.clearer { clear: both; }

.left-column {
  float: left;
  width: 50%;
  text-align: right;
}
.right-column {
  float: right;
  width: 50%;
  text-align: left;
}

.blurb {
  margin-top: 140px;
  width: 350px;
  font-size: 18px;
  line-height: 2em;
}
.left-column .blurb {
  margin-right: 20px;
  float: right;
}
.right-column .blurb {
  margin-left: 20px;
  float: left;
}

.cartoon { margin: 0 20px 0 20px; }

#stay-informed .content { margin-top: 100px; }
#stay-informed .stay-informed-info { margin: 0 20px 0 20px; }
#stay-informed p.stay-informed-info { font-size: 20px; line-height: 2em; }
#stay-informed .blurb { margin-top: 0; }
#stay-informed a { color: white; }

#sneak-peak .content { margin-top: 40px; margin-bottom: 40px; }
#sneak-peak .sneak-peak-info { margin: 0 20px 0 20px; }
#sneak-peak p.sneak-peak-info { font-size: 30px; line-height: 2em; }
#sneak-peak .blurb { margin-top: 0; font-size: 30px; }

#intuitive .cartoon { margin-top: 50px; }
#conversational .cartoon { margin-top: 75px; }

fieldset {
  border: none;
}
input {
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
  text-align: right;
  border-radius: 5px;
  border: none;
  outline: none;
}

.email-field { width: 250px; }
#sneak-peak .email-field { width: 250px; border: 1px solid #DDDDDD; }

.submit-button { background-color: rgba(255,255,255,0.8); }
#sneak-peak .submit-button { background-color: #CCCCCC; color: #333333 }

.ng-invalid .submit-button { background-color: rgba(255,255,255,0.2); color: rgba(255,255,255,0.2); }
#sneak-peak .ng-invalid .submit-button { background-color: #EEEEEE; color: #DDDDDD; }

.invalid-email-error { font-size: 20px; margin-top: 10px; }

.info-page { background-color: #F8F8F8; }
.info-page .content-section p {
  width: 700px;
  position: relative;
  left: 50%;
  margin: 20px 0px 0px -350px;
  line-height: 1.25em;
}
.info-page .content p {
  text-align: left;
  font-size: 20px;
  font-weight: 300;
}
.question { margin-bottom: 60px; }
.bio { margin-bottom: 60px; }
.bio img {
  margin-bottom: 20px;
}



#blog .post-preview { margin-bottom: 60px; }
#blog .content {
  margin-bottom: 60px;
}
#blog.content-section p, #blog.content-section blockquote {
  width: 700px;
  position: relative;
  left: 50%;
  margin: 20px 0px 0px -350px;
  line-height: 1.25em;
  font-size: 16px;
}
#blog.content-section p.quote {
  padding-left: 10px;
}
#blog span.code { font-family: monospace; }
#blog p.code {
  font-family: monospace;
  font-size: 16px;
  background-color: #eee;
  padding: 4px 4px 4px 6px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-left: 6px solid #ccc;
}
#blog pre {
  width: 700px;
  position: relative;
  left: 50%;
  margin-left: -350px;
  background-color: #eee;
  padding: 4px 4px 4px 6px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-left: 6px solid #ccc;
  text-align: left;
}
#blog code {
  font-family: monospace;
  font-size: 16px;
}

#blog h3 { margin-top: 40px; }
/*
     FILE ARCHIVED ON 20:25:51 Nov 26, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 16:18:15 Jun 16, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.676
  exclusion.robots: 0.03
  exclusion.robots.policy: 0.018
  esindex: 0.012
  cdx.remote: 69.373
  LoadShardBlock: 111.384 (3)
  PetaboxLoader3.datanode: 95.561 (5)
  PetaboxLoader3.resolve: 160.211 (3)
  load_resource: 174.788 (2)
*/